{% extends "base.html" %}
{% block title %}Add Expense{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-danger mb-4">Add New Expense</h2>
    <hr>
    <form method="post" class="form">
        {% csrf_token %}

        
        <div class="mb-3">
            <label for="expense_description" class="form-label">Expense Description</label>
            {{ form.expense_description }}  <!-- Render form field for expense description -->
        </div>

        
        <div class="mb-3">
            <label for="amount" class="form-label">Amount (Ksh)</label>
            {{ form.amount }}  
        </div>

        
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            {{ form.date }}  
        </div>

        
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            {{ form.category }}  
        </div>

        
        <div class="text-center">
            <button type="submit" class="btn btn-danger btn-lg">Add Expense</button>
        </div>
    </form>
</div>
{% endblock %}

