{% extends "base.html" %}
{% block title %}Add Income{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center text-success">Add New Income</h2>
    <hr>
    <form method="post" class="form">
        {% csrf_token %}
        
        
        <label for="source">Source of Income</label>
        <input type="text" name="source" value="{{ form.source.value }}" placeholder="e.g., Salary, Freelance" required>
        
        <label for="amount">Amount</label>
        <input type="number" name="amount" value="{{ form.amount.value }}" placeholder="Enter amount" required>
        
        <label for="date">Date</label>
        <input type="date" name="date" value="{{ form.date.value }}" required>
        
        
        <label for="description">Description</label> 
        <input type="text" name="description" placeholder="e.g., Full-time job, Freelance work" required>
        
        <button type="submit">Add Income</button>
    </form>
</div>
{% endblock %}

